<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094332061991-nbp0sqiieglsc7mh5p26l6bq338h5miv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094332061991-nbp0sqiieglsc7mh5p26l6bq338h5miv</string>
	<key>API_KEY</key>
	<string>AIzaSyDHCq3_5Qyl9cb-oQVqrVN66dJQxCoXd0k</string>
	<key>GCM_SENDER_ID</key>
	<string>1094332061991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>personalWebSite-io.github.matheuszanivan.fireBasePrac</string>
	<key>PROJECT_ID</key>
	<string>practice-dc344</string>
	<key>STORAGE_BUCKET</key>
	<string>practice-dc344.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094332061991:ios:357216ca882ac822747102</string>
</dict>
</plist>